<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Catálogo Puestos</mat-card-title>
                <mat-card-subtitle>Puestos de trabajo</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>
                <a role="button" [routerLink]="['puestos']" mat-button>Ver</a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Catálogo Sedes</mat-card-title>
                <mat-card-subtitle>Sedes de oficionas/plantas</mat-card-subtitle>
            </mat-card-header>

            <mat-card-actions>
                <a role="button" [routerLink]="['sedes']" mat-button>Ver</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>