<mat-toolbar color="primary" *ngIf="logeado">
    <button mat-icon-button class="example-icon" (click)="open()" #tooltip="matTooltip" matTooltip="Home" matTooltipHideDelay="500">
        <mat-icon>menu</mat-icon>
    </button>

    <span>AAS - {{myname}} {{myrole}}</span>
    <span class="example-spacer"></span>

    <a *ngIf="admin || colaborador" role="button" mat-icon-button class="example-icon" [routerLink]="['/encuestas']" #tooltip="matTooltip" matTooltip="Encuestas" matTooltipHideDelay="500">
        <mat-icon>ballot</mat-icon>
    </a>

    <a *ngIf="admin || colaborador" role="button" mat-icon-button class="example-icon" [routerLink]="['/miempresa']" #tooltip="matTooltip" matTooltip="Mi empresa" matTooltipHideDelay="500">
        <mat-icon>business</mat-icon>
    </a>

    <a *ngIf="sysadmin" role="button" mat-icon-button class="example-icon" [routerLink]="['/encuestas/admin']" #tooltip="matTooltip" matTooltip="Administración de Encuestas" matTooltipHideDelay="500">
        <mat-icon>ballot</mat-icon>
    </a>

    <a *ngIf="sysadmin" role="button" mat-icon-button class="example-icon" [routerLink]="['/contactos']" #tooltip="matTooltip" matTooltip="Administración de Usuarios" matTooltipHideDelay="500">
        <mat-icon>people</mat-icon>
    </a>

    <a *ngIf="sysadmin" role="button" mat-icon-button class="example-icon" [routerLink]="['/empresas']" #tooltip="matTooltip" matTooltip="Administración de Empresas" matTooltipHideDelay="500">
        <mat-icon>business</mat-icon>
    </a>

    <a *ngIf="sysadmin" role="button" mat-icon-button class="example-icon" [routerLink]="['/catalogos']" #tooltip="matTooltip" matTooltip="Administración de Catálogos" matTooltipHideDelay="500">
        <mat-icon>auto_stories</mat-icon>
    </a>

    <a *ngIf="sysadmin || admin || colaborador" role="button" [matMenuTriggerFor]="micuentaMenu" mat-icon-button class="example-icon">
        <mat-icon>person</mat-icon>
    </a>
    <mat-menu #micuentaMenu="matMenu">
        <button mat-menu-item [routerLink]="['/micuenta']" #tooltip="matTooltip" matTooltip="Mi cuenta" matTooltipHideDelay="500">
            <mat-icon>person</mat-icon>
            <span>Mi cuenta</span>
        </button>
        <button mat-menu-item (click)="closeSession()" #tooltip="matTooltip" matTooltip="Cerrar sesión" matTooltipHideDelay="500">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>

</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!logeado">
    <button mat-icon-button class="example-icon" (click)="open()" #tooltip="matTooltip" matTooltip="Home" matTooltipHideDelay="500">
        <mat-icon>menu</mat-icon>
    </button>

    <span>AAS</span>
    <span class="example-spacer"></span>

    <a role="button" mat-icon-button class="example-icon" [routerLink]="['/logon']" #tooltip="matTooltip" matTooltip="Iniciar sesión" matTooltipHideDelay="500">
        <mat-icon>person</mat-icon>
    </a>

</mat-toolbar>