<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="avatar">ballot</mat-icon>
        </div>
        <mat-card-title *ngIf="idEncuestaGuardada==0">Nueva encuesta</mat-card-title>
        <mat-card-title *ngIf="idEncuestaGuardada>0">Agregar preguntas a encuesta <b>{{nombreEncuestaGuardada}}</b></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="!cargando">
        <!--Form Encuesta-->
        <form [formGroup]="encuestaForm" (ngSubmit)="saveEncuesta()" *ngIf="idEncuestaGuardada==0">
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre de encuesta" formControlName="nombre" required>
                    </mat-form-field>
                    <div>
                        <small class="text-danger">Máximo 250 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput formControlName="descripcion" required></textarea>
                    </mat-form-field>
                    <div>
                        <small class="text-danger">Máximo 500 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Fecha vigencia</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_vigencia" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Versión</mat-label>
                        <input type="number" matInput placeholder="Versión de encuesta" formControlName="eversion" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <div>
                        <small class="text-danger">* Requerido</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button [disabled]="encuestaForm.invalid" mat-button color="primary" class="w-100"><mat-icon>save</mat-icon> Guardar</button>
                </div>
            </div>
        </form>
        <!--Form Encuesta-->
        <!--Form Preguntas-->
        <form [formGroup]="preguntaForm" (ngSubmit)="savePreguntas()" *ngIf="idEncuestaGuardada>0">
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Pregunta</mat-label>
                        <input matInput placeholder="Pregunta a realizar" formControlName="pregunta" required>
                    </mat-form-field>
                    <div>
                        <small class="text-danger">Máximo 250 caracteres</small>
                    </div>
                </div>
            </div>
            <div formArrayName="opciones">
                <div *ngFor="let item of opciones.controls; let pind = index" [formGroupName]="pind">
                  <div class="row">
                    <div class="col-11">
                        <mat-form-field class="w-100">
                            <mat-label>Opción</mat-label>
                            <input matInput placeholder="Opcion de respuesta" formControlName="texto" required>
                        </mat-form-field>
                    </div>
                    <div class="col-1 text-center">
                      <button type="button" mat-mini-fab color="warn" (click)="delOpcion(pind)" *ngIf="pind>0" #tooltip="matTooltip" matTooltip="Quitar opción" matTooltipHideDelay="500">
                        <mat-icon>remove</mat-icon>
                      </button>
                      <button type="button" mat-mini-fab color="primary" (click)="addOpcion()" *ngIf="pind==0" #tooltip="matTooltip" matTooltip="Añadir opción" matTooltipHideDelay="500">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button [disabled]="preguntaForm.invalid" mat-button color="primary" class="w-100"><mat-icon>save</mat-icon> Guardar</button>
                </div>
            </div>
        </form>
        <!--Form Preguntas-->
        <!--Preguntas agregadas-->
        <div class="row" *ngIf="preguntas.length>0">
            <div class="col">
                <h3>Preguntas guardadas</h3>
                <ol>
                    <li *ngFor="let p of preguntas">{{p}}</li>
                </ol>
            </div>
        </div>
        <!--Preguntas agregadas-->
        <!--Finalizar-->
        <div class="row">
            <div class="col" *ngIf="idEncuestaGuardada>0">
                <button [disabled]="preguntas.length==0" mat-button color="primary" class="w-100" (click)="finalizar()"><mat-icon>save</mat-icon> Finalizar</button>
            </div>
        </div>
        <!--Finalizar-->

    </mat-card-content>
    <mat-card-content *ngIf="cargando">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
    <mat-card-content class="text-center text-danger" *ngIf="error">
        <p class="display-1">:(</p>
        <p class="display-2">Ocurrio un error</p>
        <p class="display-3">Por favor de contactar al administrador</p>
    </mat-card-content>
    <mat-card-actions>


    </mat-card-actions>
</mat-card>