<mat-card>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Buscar por nombre" (keyup)="search()" [(ngModel)]="searchString">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col text-left">
            <small class="text-muted">Click/Tap para ver detalle</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table table-hover" *ngIf="!cargando_tabla">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">RFC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empresa of empresas"  (click)="gotoDetail(empresa.id_empresa)">
                                <th scope="row">{{empresa.id_empresa}}</th>
                                <td>{{empresa.nombre}}</td>
                                <td>{{empresa.rfc}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-progress-bar mode="indeterminate" *ngIf="cargando_tabla"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</mat-card>
