<mat-card>
    <mat-card-header>
        <mat-card-title>Registra tu empresa</mat-card-title>
        <mat-card-subtitle>
            Parte 1/2. Comencemos con los datos de tu empresa (En caso de que tu empresa ya este registrada, solicita que te añadan como colaborador). Si dejas incompleto tu registro es posible que en un futuro no puedas registrar tu empresa.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="container">

        <form *ngIf="!cargando" class="example-form" [formGroup]="empresaForm" (ngSubmit)="saveEmpresa()">
            <div class="row">
                <div class="col">
                    <p>Datos generales</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre empresa</mat-label>
                        <input type="text" matInput formControlName="nombre" placeholder="Nombre de tu empresa" required>
                        <mat-error *ngIf="empresaForm.get('nombre')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="empresaForm.get('nombre')!.hasError('pattern')">Nombre inválido</mat-error>
                        <mat-error *ngIf="empresaForm.get('nombre')!.hasError('maxlength')">Máximo 150 carácteres</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Razón social</mat-label>
                        <input type="text" matInput formControlName="razon_social" placeholder="Razón social de tu empresa" required>
                        <mat-error *ngIf="empresaForm.get('razon_social')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="empresaForm.get('razon_social')!.hasError('pattern')">Razón social inválido</mat-error>
                        <mat-error *ngIf="empresaForm.get('razon_social')!.hasError('maxlength')">Máximo 150 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>RFC</mat-label>
                        <input type="text" matInput formControlName="rfc" placeholder="Registro Federal de Contribuyentes de tu empresa" required>
                        <mat-error *ngIf="empresaForm.get('rfc')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="empresaForm.get('rfc')!.hasError('pattern')">RFC inválido</mat-error>
                        <mat-error *ngIf="empresaForm.get('rfc')!.hasError('maxlength')">Máximo 13 carácteres</mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Fecha de creación</mat-label>
                        <input type="date" matInput formControlName="fecha_creacion" placeholder="Cuando se fundó tu empresa" required>
                        <mat-error *ngIf="empresaForm.get('fecha_creacion')!.hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Descripción de tu empresa</mat-label>
                        <textarea type="text" matInput formControlName="descripcion_oferta_valor" placeholder="Dinos una descripción corta de tu empresa (Max. 500 Caractéres)" required></textarea>
                        <mat-error *ngIf="empresaForm.get('descripcion_oferta_valor')!.hasError('required')">Campo requerido</mat-error>
                        <mat-error *ngIf="empresaForm.get('descripcion_oferta_valor')!.hasError('maxlength')">Máximo 500 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Principales Clientes</mat-label>
                        <input type="text" matInput formControlName="principales_clientes" placeholder="Dinos los principales clientes de tu empresa (Max. 500 Caractéres)">
                        <mat-error *ngIf="empresaForm.get('principales_clientes')!.hasError('maxlength')">Máximo 250 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Sectores Atendidos</mat-label>
                        <mat-select multiple formControlName="sectores_atendidos">
                            <mat-option *ngFor="let sector of sectores_atendidos" [value]="sector.nombre_sector">{{sector.nombre_sector}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="empresaForm.get('sectores_atendidos')!.hasError('maxlength')">Máximo 250 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Oranizaciones a las que pertenece</mat-label>
                        <mat-select multiple formControlName="organizaciones">
                            <mat-option *ngFor="let organizacion of organizaciones" [value]="organizacion.id_cat_oe">{{organizacion.nombre_orgemp}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="empresaForm.get('organizaciones')!.hasError('required')">Campo requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-1">
                <div class="col">
                    <p>Posicionamiento en la web</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Web</mat-label>
                        <input type="text" matInput formControlName="web" placeholder="Sitío web de tu empresa">
                        <mat-error *ngIf="empresaForm.get('web')!.hasError('pattern')">Url inválida</mat-error>
                        <mat-error *ngIf="empresaForm.get('web')!.hasError('maxlength')">Máximo 100 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Linkedin</mat-label>
                        <input type="text" matInput formControlName="linkedin" placeholder="Perfíl Linkedin de tu empresa">
                        <mat-error *ngIf="empresaForm.get('linkedin')!.hasError('pattern')">Url inválida</mat-error>
                        <mat-error *ngIf="empresaForm.get('linkedin')!.hasError('maxlength')">Máximo 100 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Facebook</mat-label>
                        <input type="text" matInput formControlName="facebook" placeholder="Perfíl de Facebook de tu empresa">
                        <mat-error *ngIf="empresaForm.get('facebook')!.hasError('pattern')">Url inválida</mat-error>
                        <mat-error *ngIf="empresaForm.get('facebook')!.hasError('maxlength')">Máximo 100 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Twitter</mat-label>
                        <input type="text" matInput formControlName="twitter" placeholder="Perfíl de Twitter de tu empresa">
                        <mat-error *ngIf="empresaForm.get('twitter')!.hasError('pattern')">Url inválida</mat-error>
                        <mat-error *ngIf="empresaForm.get('twitter')!.hasError('maxlength')">Máximo 100 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Instagram</mat-label>
                        <input type="text" matInput formControlName="instagram" placeholder="Perfíl de Instagram de tu empresa">
                        <mat-error *ngIf="empresaForm.get('instagram')!.hasError('pattern')">Url inválida</mat-error>
                        <mat-error *ngIf="empresaForm.get('instagram')!.hasError('maxlength')">Máximo 100 carácteres</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="w-100" mat-flat-button color="primary" [disabled]="empresaForm.invalid">Guardar</button>
                </div>
            </div>
        </form>
        <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>