<mat-sidenav-container (backdropClick)="sidenav.close()" class="sidenav-container" >
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
    <mat-list role="list">
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>home</mat-icon>Home</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>ballot</mat-icon>Encuestas</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>people</mat-icon>Usuarios</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>business</mat-icon>Empresas</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>auto_stories</mat-icon>Catálogos</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"> <mat-icon mat-list-icon>show_chart</mat-icon>KPI's</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <p><button mat-button (click)="sidenav.close()">Toggle</button></p>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <br>
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>