<mat-sidenav-container (backdropClick)="sidenav.close()" class="sidenav-container" >
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon mat-list-icon>coronavirus</mat-icon>Acerca de.</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-toolbar></app-toolbar>
    <br>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
<br><br><br>
<footer>
  <div class="text-center">
    <p class="mt-2">&copy;Agroalim 2021. V.0.1</p>
  </div>
</footer>