<mat-card>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Buscar por nombre" (keyup)="search()" [(ngModel)]="searchString">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col text-left">
            <small class="text-muted">Doble Click/Tap para ver detalle</small>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table table-hover" *ngIf="!cargando_tabla">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Activo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contacto of contactos" (dblclick)="gotoDetail(contacto.id_contacto)">
                                <th scope="row">{{contacto.id_contacto}}</th>
                                <td>{{contacto.nombres}} {{contacto.apellidos}}</td>
                                <td>{{contacto.nombre_usuario}}</td>
                                <td>
                                    <mat-slide-toggle [checked]="contacto.estado" (change)="update(contacto.id_contacto)"></mat-slide-toggle>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-progress-bar mode="indeterminate" *ngIf="cargando_tabla"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</mat-card>
