<mat-card  *ngIf="!cargando"><!--Nombre & Descripción-->
    <mat-card-header>
        <mat-card-title>{{encuesta.nombre}}</mat-card-title>
        <mat-card-subtitle>Versión {{encuesta.eversion}} - {{encuesta.descripcion}}</mat-card-subtitle>
        <mat-card-subtitle>Vigencia al - {{encuesta.fecha_vigencia | date}}</mat-card-subtitle>
        <mat-card-subtitle>
            Leer bien las preguntas y las opciones, todas las respuestas se guardarán al dar click en finalizar, en caso de cerrar o recargar la página se borraran las respuestas.
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="mt-2" *ngIf="contestada">
    <mat-card-content class="text-center">
        <p class="lead">Esta encuesta ya fue contestada por tu empresa.</p>
        <p>Tu empresa ya contestó esta encuesta.</p>
    </mat-card-content>
</mat-card>

<div *ngIf="!contestada">
    <div *ngIf="!cargando"><!--Preguntas-->
        <form [formGroup]="preguntasForm" (ngSubmit)="save()">
            <div formArrayName="qa">
                <div *ngFor="let item of pForm.controls; let pind = index" [formGroupName]="pind">
                    <mat-card class="mt-2">
                        <p class="lead">{{preguntas[pind].pregunta}}</p >
                        <mat-card-subtitle>{{preguntas[pind].fecha_registro | date}}</mat-card-subtitle>
                        <mat-card-content>
                            <mat-form-field class="w-100">
                            <mat-label>Elige una opción</mat-label>
                                <mat-select formControlName="fk_id_opcion">
                                    <mat-option *ngFor="let opcion of preguntas[pind].opciones.split('&')" value="{{+opcion.split('\\')[0]}}">{{opcion.split('\\')[1]}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content> 
                    </mat-card>
                </div>
            </div>
        </form>
    </div>
    <mat-card class="mt-2" *ngIf="mostrarProgreso"><!--Guardando y finalizando-->
        <mat-card-content>
            <p class="lead text-center">Guardando y Finalizando la encuesta.</p>
            <mat-progress-bar mode="buffer" [value]="progreso" ></mat-progress-bar>
        </mat-card-content>
    </mat-card>
</div>

<mat-card class="mt-2" *ngIf="!cargando"><!--Boton guardar-->
    <mat-card-content>
        <button mat-flat-button color="primary" class="w-100" [disabled]="preguntasForm.invalid" (click)="save()">{{contestada?'Ver resultados':'Finalizar'}}</button>
    </mat-card-content>
</mat-card>

<mat-card  *ngIf="cargando"><!--Cargando-->
    <div class="row">
        <div class="col">
            <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
        </div>
    </div>
</mat-card>
